
:root {
    --color-principal: #0C0102;
    --color-secundaria: #630301;

    --color-white: #D9D9D9;
}

@font-face {
    font-family: "Benguiat";
    src: url(fonts/Benguiat_Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid white;
    padding: 8px 0;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 12px;

    img {
        width: 12px;
        height: auto;
    }
}

button:hover, li:hover {
    transform: scale(1.03);
}

.cont_intro, .container_conteudos {
    padding: 0px 8vw;
}

.container_principal {
    background-image: url('./images/1-1.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vw 3vw;
        color: var(--color-white);

        img {
            width: 80px;
            height: auto;
        }

        h2 {
            font-size: 20px;
        }
    }

    .cont_intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 8vw;
        color: var(--color-white);
        
        .intro_title, .intro_action {
            max-width: 30%;
        }

        .intro_title h2 {
            font-size: 16px;
            letter-spacing: 5px;
            font-weight: 500;
        }

        .intro_title h1 {
            font-size: 3.8vw;
            font-family: 'Benguiat';
            font-weight: normal;
            color: rgb(255, 255, 255);
            line-height: 4vw;
            margin: 10px 0 0 ;
        }

        .intro_action {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            gap: 16px;
            font-size: 24px;
        }
    }
}

.container_conteudos {
    background: var(--color-principal);
    color: var(--color-white);
    padding-block: 40px;

    .cont_cidades {
        display: flex;
        flex-direction: column;

        .cidades_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 30px;

            h2 {
                font-size: 1.4vw;
            }
        }

        .cidades_lista {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                aspect-ratio: 16/9;
                border-radius: 8px;
                position: relative;
                max-width: 550px;
                width: 30%;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                align-items: flex-end;
                font-size: 12px;
                font-weight: lighter;
                gap: 10px;
                filter: brightness(0.8);
                transition: all 0.3s ease;

                :last-child {
                    text-align: right;
                }
            }

            

            #sidney {
                background: url('./images/sidney.png') no-repeat center center/cover;
            }

            #mexico {
                background: url('./images/mexico.png') no-repeat center center/cover;
            }

            #yas {
                background: url('./images/yas-island.png') no-repeat center center/cover;
            }
        }

    }
}
